/** Step one **/

/** Step two **/
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins",sans-serif;
}

/** Step three **/
h1{
    font-size: 46px;
    letter-spacing: 1.5;
    text-align: center;
    color: #072d67;
}
/** Step four **/
p,a,li,ul{
    font-family: "Oswald",sans-serif;

}
/** Step five **/
span{
    color: #f4511e;
}

/** Step six **/
h3{
    font-size: 50px;
    text-shadow: 4px 3px 4px rgba(0,0,0,.8);
}
